<h1>formulario de ingreso</h1>
<div>
    <form action="/login" method="post">
        <label for="Nombre: "></label>
        <input type="text" placeholder="Ingresa nombre" name="name">
        <button type="submit">Ingresar</button>
    </form>
</div>