    <h2>Pagina chat</h2>
    <p id="username"></p>

    <form id="chatForm">
        <label for="messageChat">Mensaje:</label>
        <input type="text" id="messageChat">
        <button type="submit">Enviar</button>
    </form>

    <div id="chatContainer"></div>
    <script src="ch.js"></script>